@using SeatsSelector.Application.Pages

@inject NavigationManager nav

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">

        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">

                <Authorizing>
                    <div>Authorizing...</div>
                </Authorizing>

                <NotAuthorized>
                    @{
                        nav.NavigateTo($"login?returnUrl={Uri.EscapeDataString(nav.Uri)}");
                    }
                </NotAuthorized>

            </AuthorizeRouteView>
        </Found>

        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>

    </Router>
</CascadingAuthenticationState>
