@inherits NavBarBase

<nav class="navbar bg-body-tertiary">
    <div class="container" style="justify-content: right;">

        <button class="btn btn-outline-danger" @onclick="LogoutBtn_OnClick">Logout</button>

    </div>
</nav>