@inherits LayoutComponentBase

@using SeatsSelector.Application.Components

<!-- Header -->
<header style="max-width: 540px;">

    <NavBar/>

</header>

<!-- Body -->
<main style="max-width: 540px;">
    @Body
</main>

<!-- Error banner -->
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<!-- Footer -->
@* <footer></footer> *@
